body {
  font-family: 'Arial', sans-serif;
  background-color: #74b9ff; /* Azul claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  color: #2d3436; /* Cinza escuro */
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  text-align: right;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  font-size: 1em;
  margin: 5px;
  border: 1px solid #2d3436; /* Cinza escuro */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #a29bfe; /* Roxo claro */
}

input[type="button"]:active {
  background-color: #6c5ce7; /* Roxo mais escuro */
}